body {
    background-color: #3d1ada9f !important;
    font-family: Arial, sans-serif;
    /* background-image: url(../others/books.jpg); */
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.typing-animation {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.form-label, .form-floating label {
    color: #495057;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
}

.link-primary {
    color: #007bff;
    text-decoration: none;
}

.link-primary:hover {
    text-decoration: underline;
}
/* Media Queries for Responsive Design */

/* For Large Screens / Desktops */
@media (min-width: 1025px) {
    .container {
        width: 40% !important;
    }

    h1 {
        font-size: 2.5rem;
    }

    .button {
        font-size: 1.2rem;
    }
}

.reset{
    height: 3rem;
    width: 5rem;
}
.sendotp{
    height: 3.5rem;
    width: 5rem;
}
/* For Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 60% !important;
    }

    h1 {
        font-size: 2rem;
    }

    .button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

/* For Mobile Phones */
@media (max-width: 768px) {
    .container {
        width: 90% !important;
        padding: 2%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .button {
        font-size: 0.9rem;
        padding: 0.5rem 0.75rem;
    }
}
