body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../others/books.webp') no-repeat center fixed;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    text-align: center;
    background: rgb(250, 245, 245,0.1);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    color: #212020;
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    margin: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Typing animation CSS */
.typing-animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #333;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}
