body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../others/books.webp') no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 40%;
    max-width: 700px;
    height: auto;
    max-height: 90vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition-duration: 1s;
}
.container:hover {
    box-shadow: 0 0 1rem rgb(76, 155, 228);
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.signup-form {
    margin-bottom: 2rem;
}

.signup-form label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.signup-form input {
    width: 100%;
    padding-right: 2rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2rem;
    transition-duration: 0.5s;
}

.signup-form input:hover {
    box-shadow: 0 0 1rem #4498f1;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    border-radius: 4px;
    transition-duration: 0.7s;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
}

.button:hover {
    background-color: #0056b3;
    border-radius: 1rem;
}

.forgot-link {
    text-decoration: none;
    color: white !important;
}

/* Typing animation CSS */
.typing-animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #333;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

/* Media Queries for Responsive Design */

/* For Large Screens / Desktops */
@media (min-width: 1025px) {
    .container {
        width: 40% !important;
    }

    h1 {
        font-size: 2.5rem;
    }

    .button {
        font-size: 1.2rem;
    }
}

/* For Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 60% !important;
    }

    h1 {
        font-size: 2rem;
    }

    .button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

/* For Mobile Phones */
@media (max-width: 768px) {
    .container {
        width: 90% !important;
        padding: 2%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .button {
        font-size: 0.9rem;
        padding: 0.5rem 0.75rem;
    }
}
