<% layout('layouts/boilerplate.ejs') %>
<div class="background">
</div>
<div class="fullscreen-container">
    <div class="home-container">
        <h1 class="home-title">Hi <%=user.name%>! Let's Explore</h1>
        <p class="home-description">
            Discover a variety of products to buy, sell your own items, and manage your cart all in one place.
        </p>
        <div class="home-options">
            <a href="/reca/products" class="home-button">Buy</a>
            <a href="/reca/new" class="home-button">Sell</a>
            <a href="/reca/mycart" class="home-button">Cart</a>
        </div>
    </div>
</div>
